<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<link rel="stylesheet" type="text/css" href="Design.css"/>

<title>
Table Page
</title>
</h:head>
<body>
<ul>
 <li style="float:right"><a class="active" href="Homepage.xhtml">Homepage</a></li>
</ul>
	<div align="center">
		<h1>Table Response</h1>

		<h:dataTable value="#{climate.climates}" var="t">

			<h:column>
				<f:facet name="header">Temperature</f:facet> #{t.temperature}
		</h:column>

			<h:column>
				<f:facet name="header">Humidity</f:facet>
				<div align="left">#{t.humidity}</div>
			</h:column>
			<h:column>
				<f:facet name="header">Pressure</f:facet> #{t.pressure}
		</h:column>
			<h:column>
				<f:facet name="header">Location</f:facet> #{t.location}
		</h:column>
		</h:dataTable>
		<br />
	</div>
	<h:form>
			<h:button value="Homepage" outcome="Homepage.xhtml" />
		</h:form>
</body>
</html>
