<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	This is an Exception! Please check the console to check the exception.
	<h:form>
		<h:button value="Register" outcome="RegisterPage.xhtml" />
	</h:form>
	<h:form>
		<h:button value="Login" outcome="LoginPage.xhtml" />
	</h:form>
</body>
</html>
