<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
 <link rel="stylesheet" type="text/css" href="Design.css"/>

<title>
Home Page
</title>
</h:head>
<body>
<ul>
 <li style="float:right"><a class="active" href="LoginPage.xhtml">Logout</a></li>
</ul>
<div align="center">
	<h1>Welcome to Weather Master!!! </h1>
</div>
	<h:form align="center">
		<h:commandButton value="Table"
			action="#{climateController.lastNClimates}" />
	</h:form>
	
	<h:form align="center">
		<h:commandButton value="Chart"
			action="#{climateController.lineChart}" />
	</h:form>
</body>
</html>
