<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script>
	function plot(data) {
		var x1 = [];
		var y1 =[];
		var z1 = [];
		for(let climate of data.data)
		{
			x1.push(climate.pressure);
			y1.push(climate.temperature);
			z1.push(climate.humidity);
		}

		var pressure = {
				  x: [1,2,3,4,5], 
				  y: x1, 
				  name: 'Pressure',
				  type: 'scatter'
				  
				};
		var temperature = {
				  x: [1,2,3,4,5], 
				  y: y1,
				  name: 'Temperature', 
				  type: 'scatter'
				};
		var humidity = {
				  x: [1,2,3,4,5], 
				  y: z1,
				  name: 'Humidity', 
				  type: 'scatter'
				};
				var graph = [pressure, temperature, humidity];
				Plotly.newPlot('myDiv', graph);
	}
	</script>
	<link rel="stylesheet" type="text/css" href="Design.css"/>

<title>
Chart Page
</title>
</h:head>
<body>
<ul>
 <li style="float:right"><a class="active" href="Homepage.xhtml">Homepage</a></li>
</ul>
	<div id="myDiv">
		<!-- Plotly chart will be drawn inside this DIV -->
	</div>
	<script>
Plotly.d3.json('http://localhost:8080/WeatherApp/rest/weatherService/weather', function(data) {
    plot(data);
});
  </script>
</body>
</html>
