<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
 <link rel="stylesheet" type="text/css" href="Design.css"/>
 <title>
Login Page
</title>
</h:head>
<body>
<ul>
  <li style="float:right"><a class="active" href="RegisterPage.xhtml">Register</a></li>
</ul>
<br />
	<div align="center">
		<h1>Login User</h1>
		<h:form>
			Email: <h:inputText id="email" value="#{user.email}" title="" />
			<h:message for="email" />
			<br />
			Password: <h:inputText id="password" text="password" value="#{user.password}"
				title="" />
			<h:message for="password" />
			<br />
			<h:commandButton value="Submit" action="#{userController.loginUser}" />
		</h:form>
		</div>
</body>
</html>
