<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<title>
Register Page
</title>
 <link rel="stylesheet" type="text/css" href="Design.css"/>
</h:head>
<body>
<ul>
  <li style="float:right"><a class="active" href="LoginPage.xhtml">Login</a></li>
</ul>
<br />
	<div align="center">
	<h1>Register User</h1>
		<h:form>
			Email: <h:inputText id="email" value="#{user.email}" title="" />
			<h:message for="email" />
			<br />
			Password: <h:inputText id="password" value="#{user.password}"
				title="" />
			<h:message for="password" />
			<br />
			Firstname: <h:inputText id="firstname" value="#{user.firstName}"
				title="" />
			<h:message for="firstname" />
			<br />
			Lastname: <h:inputText id="lastname" value="#{user.lastName}"
				title="" />
			<h:message for="lastname" />
			<br />
			Location: <h:inputText id="location" value="#{user.location}"
				title="" />
			<h:message for="location" />
			<br />
			<h:commandButton value="Submit"
				action="#{userController.registerUser}" />
		</h:form>
	

	</div>
</body>
</html>
